@page
@model Venta.NET.Views.Cliente.IndexModel

<h2>Administrador de Clientes</h2>

<main>
    <div>
        <button onclick="location.href='@Url.Action("AgregarCliente", "Cliente")'">Agregar Cliente </button>

        <button onclick="location.href='@Url.Action("Listado", "Cliente")'">Agregar Cliente </button>
    </div>

</main>


